* {
    margin: 0;
    padding: 0;
    list-style: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
    font-size: 15px;
    color: whitesmoke;
    background: #f7f8fa;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-width: 480px;
    height: 640px;
}
a {
    text-decoration: none;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
}