* {
    margin: 0;
    padding: 0;
    list-style: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
    font-size: 15px;
    color: whitesmoke;
    background: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}
a {
    text-decoration: none;
}
main{
    height: 100%;
    width: 100%;
}
h1{
    margin-top: 20vh;
}